/* Variables */

:root {
  --white: rgba(255, 255, 255, 1);
  --light-gray: rgba(242, 242, 242, 1);
  --gray: rgba(238, 238, 238, 1);
  --gray-light-regular: rgba(235, 235, 235, 1);
  --gray-dark: rgba(102, 102, 102, 1);
  --black-lighter: rgba(51, 51, 51, 1);
  --black: rgba(0, 0, 0, 1);
  --blue-light: rgba(129, 179, 210, 1);
  --blue: rgba(102, 158, 192, 1);
  --blue-dark: rgba(84, 150, 189, 1);
  --brown-dark: rgba(80, 62, 51, 1);
  --brown: rgba(96, 78, 67, 1);
  --brown-light: rgba(118, 99, 87, 1);
}

/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*utility classes*/

.white {
  background-color: var(--white);
}

.gray {
  background-color: var(--gray);
}

button {
  padding:0;
  border:0;
  background-color: transparent;
}

.button {
  padding:0;
  border:0;
}

.sorting {
  background-color: var(--white);
}

.sorting a {
  color: var(--black);
}

.footer-contacts a {
  color: var(--black);
}

.footer-social {
  text-align: center;
}

.footer-social a {
  color: var(--black);
}

.button-attribute {
  display: none;
}

.filters {
  background: var(--blue) url("../img/background.jpg") no-repeat center;
}

/* Main navigation */

.main-navigation {
  color: var(--black);
  background-color: var(--white);
}

.site-navigation a {
  color: var(--black);
  font-weight: 700;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* title-features */

.title-features {
  background-color: var(--white);
  color: var(--black-lighter);
}

.title-features h1 {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  margin: 0;
}

/*big-feature*/

.big-feature {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--blue-light);
  color: var(--white);
}

.big-feature h2 {
  color: var(--white);
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

/*other-features*/

.other-features {
  color: var(--black-lighter);
  font-size: 14px;
  line-height: 21px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list h2 {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

/*search-interested*/

.search {
  background-color: var(--white);
  color: var(--black-lighter);
  font-size: 14px;
  line-height: 24px;
}

.search-interested h2 {
  color: var(--black);
  font-size: 30px;
  line-height: 24px;
  margin: 0;
}

/*search-hotel*/

.search-hotel {
  background-color: var(--white);
  color: var(--black);
  font-size: 14px;
  line-height: 26px;
}

.search-hotel-title {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--brown-light);
  color: var(--white);
}

.search-hotel-title:hover {
  background-color: var(--brown);
  color: var(--white);
}

.search-hotel-title:focus {
  background-color: var(--brown-dark);
  color: var(--white);
}

.date-arrival,
.date-departure,
.number-grownup,
.number-childrens {
  background-color: var(--light-gray);
}
button {
  padding:0;
  border:0;
  background-color: transparent;
}
.search-button {
  background-color: var(--blue-light);
  color: var(--white);
}

.search-button:hover {
  background-color: var(--blue);
  color: var(--white);
}

.search-button:focus {
  background-color: var(--blue-dark);
  color: var(--white);
}

/*main-footer*/

.main-footer {
  background-color: var(--white);
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
}



/*page hotels*/

.type-filter {
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
input[type='checkbox'] + label::before {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border-style: solid;
  border-radius: 2px;
  border-color: var(--white);
}
input[type='checkbox']:checked + label::before {
   border-color: var(--white);
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.sorting h2 {
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}
.sorting-filter {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  background-color: var(--white);
  font-weight: 400
}

.button-sorting {
  border: 0;
  padding: 0;
}

.active {
  color: var(--blue-light);
  opacity:100%;
  text-decoration: none;
}

.button-sorting:hover {
  color: var(--blue-light);
  text-decoration: underline;
  opacity:100%;
}
.button-sorting:focus {
  color: var(--black);
  text-decoration: none;
  opacity:100%;
}

.search-results {
  background-color: var(--white);
}

.name-hotel {
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
}

.name-hotel:hover {
  color: var(--blue-light);
  font-size: 21px;
  line-height: 26px;
}

.name-hotel:focus {
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
  opacity: 30%;
}

.button-detail {
  background-color: var(--blue-light);
  color: var(--white);
}

.button-detail:hover {
  background-color: var(--blue);
  color: var(--white);
}

.button-detail:focus {
  background-color: var(--blue-dark);
  color: var(--white);
}

.button-book {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--brown-light);
  color: var(--white);
}

.button-book:hover {
  background-color: var(--brown);
  color: var(--white);
}

.button-book:focus {
  background-color: var(--brown-dark);
  color: var(--white);
}
