/* Variables */

:root {
  --white: rgba(255, 255, 255, 1);
  --light-gray: rgba(242, 242, 242, 1);
  --gray: rgba(238, 238, 238, 1);
  --gray-light-regular: rgba(235, 235, 235, 1);
  --gray-regular: #888888;
  --gray-dark: rgba(102, 102, 102, 1);
  --black-lighter: rgba(51, 51, 51, 1);
  --black: rgba(0, 0, 0, 1);
  --black-regular: #000000;
  --blue-light: rgba(129, 179, 210, 1);
  --blue: rgba(102, 158, 192, 1);
  --blue-dark: rgba(84, 150, 189, 1);
  --brown-dark: rgba(80, 62, 51, 1);
  --brown: rgba(96, 78, 67, 1);
  --brown-light: rgba(118, 99, 87, 1);
}

/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: " PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--gray-regular);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  color: var(--black);
  background-color: var(--white);
}
.site-navigation a {
  color: var(--black);
}
.site-navigation {
  list-style: none;
}

/* title-features */

.title-features {
  background-color: var(--white);
  color: var(--black-lighter);
}
.title-features h1{
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
}

/*first-feature*/

.first-feature {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--blue-light);
  color: var(--white);
}
.first-feature h2 {
  font-size: 21px;
  line-height: 21px;
}

/*other-features*/

.other-features {
  background-color: var(--white);
  color: var(--black-lighter);
  font-size: 14px;
  line-height: 21px;
}
.features-list {
  list-style: none;
}
.features-list h2 {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}

/*second-feature*/

.second-feature {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--blue-light);
  color: var(--white);
}
.second-feature h2 {
  font-size: 21px;
  line-height: 21px;
}

/*another-features*/

.another-features {
  background-color: var(--gray);
  color: var(--black-lighter);
  font-size: 14px;
  line-height: 21px;
}
.another-features h2 {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}
.another-features-list {
  list-style: none;
}

/*search-list*/

.search-list {
  background-color: var(--white);
  color: var(--black-lighter);
  font-size: 14px;
  line-height: 24px;
}
.search-list-head {
  color: var(--black);
  font-size: 30px;
  line-height: 24px;
}

/*search-hotel*/

.search-hotel {
  background-color: var(--white);
  color: var(--black);
  font-size: 14px;
  line-height: 26px;
}
.search-hotel-title {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--brown-light);
  color: var(--white);
}
.date_of_arrival,
.date_of_departure,
.number-grownup,
.number-childrens {
  background-color: var(--light-gray);
}

/*main-footer*/

.main-footer {
  background-color: var(--white);
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
}
.footer-contacts a {
  color: var(--black);
}
.footer-social {
  text-align: center;
}
.footer-social a {
  color: var(--black);
}
